.actived{
	color: $fontColor;
	background: $firstColor;
	border-color: $firstColor;
	@include hover($secondColor, $fontColor $secondColor);
}

.italic{ font-style: italic; }
.hover{ @include hover($secondColor); }