@mixin table {
	table{
		width: 100%;
		margin-top: 2%;
		border-spacing: 0;
		margin-bottom: 2%;
		font-size: $smallFont;
		border-bottom: none !important;
		border: $border_size * 2 solid $borderColor;

		a{
			&:link, &:active, &:visited{
				color: inherit;
				text-decoration: none;
				&:hover, &:focus{ text-decoration: underline; }
			}
		}
		
		th{
			font-weight: 500;
			font-size: $fontSize;
			background: $secondColor;
			padding: $padding_base + $padding3;
			border-bottom: $border_size solid $borderColor;
		}

		td{
			cursor: pointer;
			background: $firstColor;
			padding: $padding_base + $padding3;
			border-bottom: $border_size solid $borderColor;
		}

		tr{
			.hover:hover{ background: $bgColor; }
			.tr-copy-table{ width: $padding_base * 8; }

			&:hover{
				td{ background: $secondColor; }
			}

			td{
				text-align: center;
				.open:hover{ color: $blueColor; }
				.delete:hover{ color: $redColor; }
				.edit:hover{ color: $greenColor; }
			}
		}
	}
}

@mixin hover($background: $secondColor, $color: inherit, $bdr_color: $borderColor) {
	&:hover, &:focus{
		outline: none;
		color: $color;
		border-color: $bdr_color;
		background-color: $background;

		@content;
	}
}

@mixin spinner($m: $padding2, $s: $padding3, $c: $fontColor, $w: $padding_base, $h: $padding_base, $t: .8s) {
	@keyframes spin {
		to { transform: rotate(360deg); }
	}

	.spinner {
		width: $w;
		height: $h;
		margin: $m;
		position: absolute;
		border-radius: 50%;
		border: $s solid transparent;
		border-left-color: $c !important;
		animation: spin $t linear infinite;
	}
}