@use "sass:math";

$fontSize: 1em;
$smallFont: .8em;

$margin: 1.3em;
$padding: .6em;
$padding2: .5em;
$padding3: .3em;
$padding4: .8em;
$padding5: .7em;
$padding6: .4em;
$padding_base: 1em;

$menu_size: 3em;
$logo_size: 4em;
$frame_size: 2em;
$header_size: 3em;
$icon_size: 3.5em;
$border_size: .05em;
$top_menu_size: 16em;
$left-bar_size: 3.5em;
$form_input_size: 100%;
$menu_settings_size: 9em;
$windows_tools_size: 34em;
$shadow_size: math.div($padding3, 2) math.div($padding3, 2) math.div($padding3, 2);

$codeFont: 'Consolas';
$font-path: '../fonts/';
$font: 'Roboto', sans-serif;