.privacy-list{
	width: 46vh;
	margin: $padding4;
	border-radius: $padding2;

	.value{
		cursor: pointer;
		line-height: 6vh;
		text-align: left;
		border-radius: $padding2;
		border-color: $blueColor;
		font-size: $smallFont + .1;

		.mini-text{
			line-height: 4vh;
			letter-spacing: 1px;
			font-size: $smallFont - .05;
			padding-left: $padding_base;
		}

		@include icons{
			width: 6vh;
			float: left;
			line-height: 6vh;
			text-align: center;
		}

		@include hover($secondColor) {
			transition: all .2s ease-in-out;
			border-left: $padding2 solid $blueColor;
		}
	}

	.privacy{
		display: none;
		width: 44.75vh;
		overflow: auto;
		margin-top: 1vh;
		max-height: 42vh;
		text-align: left;
		position: absolute;
		@include drop-shadow-sm;
		background: $secondColor;
		border-radius: $padding2;
		border-left: $padding2 solid $blueColor;

		.item{
			cursor: pointer;
			line-height: 6vh;
			font-size: $smallFont + .1;

			.mini-text{
				line-height: 4vh;
				letter-spacing: 1px;
				font-size: $smallFont - .05;
				padding-left: $padding_base;
			}

			@include icons{
				width: 6vh;
				float: left;
				line-height: 6vh;
				text-align: center;
			}

			@include hover($blueColor);
			&:first-child{ border-top-right-radius: $padding2 }
			&:last-child{ border-bottom-right-radius: $padding2 }
		}

		.mini-text{
			line-height: 4vh;
			letter-spacing: 1px;
			font-size: $smallFont - .05;
			padding-left: $padding_base;
		}

		@include scrollbar;
		.actived{ background: $blueColor; }
	}

	.actived{
		background: $secondColor;
		border-left: $padding2 solid $blueColor;
	}
}